[submodule "libtommath-0.39"]
	path = libtommath-0.39
	url = https://github.com/zardam/libtommath-0.39.git
[submodule "giac-1.5.0"]
	path = giac-1.5.0
	url = https://github.com/zardam/giac-1.5.0.git
[submodule "gmpfri_numworks"]
	path = gmpfri_numworks
	url = https://github.com/zardam/gmpfri_numworks.git
